body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: #d47373;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
    color: #333;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #d47373;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.card:hover .text {
    opacity: 1;
    transform: translateY(0);
}

footer {
    background-color: #f9d4d4;
    padding: 10px 0;
    text-align: center;
    font-size: 0.8em;
}

